{% extends 'base.html.twig' %}

{% block title %}Page order!{% endblock %}

{% block body %}
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


<main>

  <div class="album py-5">
    <div class="container">

      <h2 class="text-center clr1 text-white my-3 py-2 rounded">Pass Your Order</h2>

      {# <div class="row g-3">
        <div class="col-6 mx-auto">
          <div class="card shadow-sm p-5">
            <img src="{{product.image}}" alt="photo">

            <div class="card-body clr4 text-white">
              <h4>Title: {{product.name}}</h4>
              <h5 class="text-success">Ref No: {{product.referenceNo}} et <span class="text-white">Category: {{product.category}}</span></h5>
              <h5>Couleur: {{product.color}} et <span>Size: {{product.size}}</span></h5>
              <h4 class="text-success bold">Prix: {{product.price}}</h4>
              <p class="card-text">{{product.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{path('accueil')}}" class="btn btn-sm btn-outline-success m-1">Retour à la page</a>
                  <a href="{{path('cart_add', {'id' : product.id})}}" class="btn btn-sm btn-outline-info m-1">Ajuter au Panier</a>
                  <a href="{{path('accueil')}}" class="btn btn-sm btn-outline-success m-1">Passer commande</a>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div> #}


    <div class="row g-3">
        <div class="col-9 card shadow-sm p-3 m-auto">
            <img src="{{product.image}}" style="width: 50%; height: auto; margin: auto;" alt="photo">
            <p class="col-8 text-center card-text mx-auto mt-2">{{product.description}}</p>
      
        <div class="col-8 mx-auto border p-2">
            {{ form_start(form) }}
            <div class="row">
            <div class="col-4">
                {{ form_row(form.ProductName,{ 'value':product.name }) }}
            </div>
            <div class="col-4">
                {{ form_row(form.ProductRefNo,{ 'value':product.referenceNo }) }}
            </div>
            <div class="col-4">
                {{ form_row(form.price,{ 'value':product.price }) }}
            </div>
            </div>

            <div class="row">
            <div class="col-3">
                {{ form_row(form.size) }}
            </div>
            <div class="col-3">
                {{ form_row(form.color) }}
            </div>
            <div class="col-3">
                {{ form_row(form.quantity) }}
            </div>
            <div class="col-3">
                {{ form_row(form.deliveryMethod) }}
            </div>
            </div>

            <div class="row">
            <div class="col-6">
                {{ form_row(form.firstName,{ 'value':app.user.firstName }) }}
            </div>
            <div class="col-6">
                {{ form_row(form.lastName,{ 'value':app.user.lastName }) }}
            </div>
            </div>

            <div class="row">
            <div class="col-6">
                {{ form_row(form.email,{ 'value':app.user.email }) }}
            </div>
            <div class="col-6">
                {{ form_row(form.phoneNo,{ 'value':app.user.phoneNo }) }}
            </div>
            </div>  
                
            <div class="row">
            <div class="col-6">
                {{ form_row(form.address,{ 'value':app.user.address}) }}
            </div>
            <div class="col-3">
                {{ form_row(form.postCode,{ 'value':app.user.postCode}) }}
            </div>
            <div class="col-3">
                {{ form_row(form.city,{ 'value':app.user.city}) }}
            </div>
            </div> 
                {# {{ form_row(form.createdAt) }} #}
                <button type="submit" class="btn btn-info my-2">Payer ma commande</button>
            {{ form_end(form) }}

        </div>
        </div>
      </div>


    </div>
  </div>

</main>
{% endblock %}